*~
*.egg/
*.pyc
*.pyo
*.cpp
*.so
cscope.*
tags
build
\#*\#
.\#*
.coverage
.eggs/
_readthedocs_build
dist/
htmlcov/
.idea/
python/ideep4py.egg-info
python/ideep4py/include
python/ideep4py/lib
python/ideep4py/share
