*~
*.egg/
*.pyc
*.pyo
*.cpp
*.so
cscope.*
tags
build
\#*\#
.\#*
.coverage
.eggs/
_readthedocs_build
ideep.egg-info/
dist/
htmlcov/
.idea/
ideep/python/api/c_api.py
ideep/python/api/support.py
ideep/python/api/memory.py
ideep/python/api/inner_product_*.py
ideep/python/api/reorder.py
ideep/python/api/convolution_*.py
ideep/python/api/eltwise_*.py
ideep/python/api/concat.py
ideep/python/api/lrn_*.py
ideep/python/api/pooling_*.py
ideep/python/api/bn_*.py
ideep/python/api/view.py
ideep/python/api/sum.py
ideep/python/api/cosim_dump.py
ideep/python/api/dropout.py
ideep/python/mdarray.py
external/mkldnn/source
